@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light");

body {
  font-family: "Shadows Into Light", cursive;
  color: white;
}

header {
  text-align: center;
}

.title {
  width: 25%;
  text-align: center;
}

h1 {
  font-size: 35px;
  margin: 0;
}
section {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
  margin: auto;
  justify-content: center;
  background: #273978;
}

.container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container div {
  text-align: center;
}

.container div img {
  width: 150px;
  width: 100%;
}

.container p {
  margin-top: 0;
  font-size: 20px;
}
