@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&display=swap');


body {
    background: black;
    width     : 1440px;
    color     : white;
    margin    : auto;
}

.reversed {
    flex-direction: row-reverse;
}

.right {
    text-align: right;
}

/* Header + div titleNav (h2 + nav) et welcome (tout le milieu du header div qui contient p h1 p*/

header {
    background       : url("../img/eggs.jpg");
    background-repeat: no-repeat;
    background-size  : cover;
    height           : 700px;
    text-transform   : uppercase;
    opacity          : 0.8;
    font-family      : sans-serif;
}

.titleNav {
    display        : flex;
    justify-content: space-between;
    padding        : 20px 50px;
}

.titleNav li {
    display: inline;
    padding: 10px 30px;
}

.titleNav li:last-child {
    border: 1px solid orange;
}

.titleNav a {
    text-decoration: none;
    color          : white;
}

/* Div welcome */

.welcome {
    text-align: center;
    font-size : 30px;
}

.welcome p,
.welcome h2,
.welcome h1 {
    margin: 100px 0;
}

h2 {
    font-family  : 'Dancing Script', cursive;
    color        : rgb(206, 161, 35);
    margin-bottom: 0;
    font-weight  : bold;
    font-size    : 35px;
}

/* Section main */

main section {
    display        : flex;
    justify-content: center;
    width          : 60%;
    margin         : auto;
    /* align-items : center; */
}

section div p:last-child {
    color: rgb(206, 161, 35);
}

.mealsPics {
    border  : 1px solid orange;
    /* width: 100%; */
}

.mealsPics img {
    height: 100%;
}

.marged-left {
    margin     : 100px 0 0 50px;
    text-align : justify;
    align-items: center;
}

.marged-right {
    margin: 100px 50px 0 0;
}

.marged p:last-child {
    color: rgb(206, 161, 35);
}

/* Section Menu */
section#menu {
    display   : block;
    text-align: center;
}

section#menu p {
    width : 75%;
    margin: 50px auto;
}

#menu ul li {
    display: inline;
    padding: 30px;
    margin : 20px;
}

#menu ul li a {
    font-size      : 25px;
    text-decoration: none;
    color          : rgb(183, 182, 182);
}

/* Section plats */
section#plats h2,
section#plats h3,
section#plats p {
    font-size: 16px;
    margin   : 20px 0;
}

section#plats h2,
section#plats h3 {
    font-size: 18px;
}

section#plats {
    margin-top: 50px;
    width     : 70%;
}

section#plats>div {
    display  : flex;
    flex-wrap: wrap;
}

section#plats>div>div {
    display    : flex;
    width      : 50%;
    align-items: center;
    margin     : 20px 0;
}

section#plats>div>div>div:last-child {
    margin: 20px 30px;
}

/* SECTION CHEF */
section#chef {
    margin-top: 60px;
}

section#chef>div:first-child {
    width : 50%;
    margin: auto;
}

section#chef h2,
section#chef h3,
section#chef p {
    font-size: 16px;
    margin   : 20px 0;
}

section#chef h2,
section#chef h3 {
    font-size: 30px;
}

section#chef img {
    width: 300px;
}

/* Section RESERVATION */

section#reservation {
    display         : flex;
    flex-direction  : column;
    justify-content : center;
    align-items     : center;
    background-image: url(../img/reservation.jpg);
    width           : 100%;
    height          : 500px;
    filter          : brightness(80%);
}

section#reservation>div {
    text-align: center;
    margin    : auto;
}

section#reservation>div>p {
    text-align: center;
    margin    : auto;
    width     : 80%;
}

section#reservation input,
section#reservation select {
    padding      : 10px 10px;
    text-align   : center;
    border       : 1px solid darkgray;
    background   : transparent;
    color        : rgb(201, 199, 199);
    border-radius: 10px;
}

section#reservation input::placeholder {
    color: rgb(201, 199, 199);
}

section#reservation h2,
section#reservation h3,
section#reservation p {
    margin   : 20px 0;
    font-size: 30px;
}

section#reservation p {
    font-size: 16px;
    width    : 50%;
}

section#reservation form,
section#reservation button {
    margin: 20px 0;
}

section#reservation button {
    padding         : 10px 30px;
    border-radius   : 10px;
    color           : white;
    background-color: rgb(241, 148, 18);
    font-size       : 16px;
    font-weight     : bold;
}