@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;

}

body {
    font-family: 'Montserrat', sans-serif;
}

.gras {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    position: relative;
}

button {
    cursor: pointer;
}

/* ********************************* HEADER ***************** */
header {
    height: 950px;
    background-image: url("../img/dinosaure.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-bottom: 60px;

    /* Attention le filter annule la propriété position fixed de nav */
    /* filter: brightness(90%); */
}


/* NAV */

header nav {
    background-color: rgba(0, 0, 0, 0.433);
    position: fixed;
    width: 100%;
    z-index: 1;
}

header nav ul {
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    height: 50px;
    list-style-type: none;
}

header nav li.deroulant ul.mobile {
    display: none;
}

header nav ul li {
    padding: 0 35px;
    transition: 1.5s;
}

header nav ul li:last-child i.hovered {
    display: none;
}

header nav ul li:hover {
    background: white;
    padding: 15px 35px;
    transition: 0.5s;
    border-top: 2px solid green;
}

header nav ul li:hover i.hovered {
    display: inline-block;
    transition: 0.5s;
}

header nav ul li:hover i.no-hovered {
    display: none;
    transition: 0.5s;
}

header nav ul li:hover a {
    color: #1C5F81;
    padding: 15px 35px;
    transition: 0.5s;
}

header nav ul li:last-child:hover a:last-child {
    padding: 15px 5px;
}

header nav ul li span {
    color: darkgray;
}


header nav ul .blue_back {
    background-color: #1C5F81;
    padding: 4px 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}



header nav ul li .active {
    padding: 0 5px;
}

/* HEADER DIV IMG */

header .jurrasic_world {
    display: flex;
    justify-content: center;
    height: 950px;
    align-items: center;
}

header .jurrasic_world>div {
    height: 700px;
}

.jurrasic_world img {
    width: 100%;
    height: 100%;
}

header .climatiseur {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
}

header .climatiseur img {
    width: 100%;
    vertical-align: bottom;
}

/* Section */

section {
    width: 600px;
    margin: auto;
}

section#section1 .section-img img {
    width: 100%;
}

section#section1 h3 {
    text-align: center;
    font-size: 40px;
    margin: 30px 0;
    color: #292929;
    text-transform: uppercase;
}

section#section1 p {
    text-align: justify;
    margin: 20px 0;

    font-size: 13px;
}

/* Section img*/

section#section1 img:hover {
    transform: scale(1.1);
}

/* Section 2 */

#section2 {
    text-align: center;
    font-weight: bold;
}

#section2 div {
    margin: 40px 0;
}

#section2 div p:nth-child(4) {
    margin: 0 0 20px 0;
}

#section2 div p span:nth-child(1) {
    font-size: 17px;
}

#section2 button {
    padding: 10px 30px;
    margin: 20px 0;
    background-color: #1C5F81;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
}

/* Section 3 tarifs horaires maps et trajet */

section#section3 {
    display: flex;
    flex-wrap: wrap;
    width: 80%;
    justify-content: center;
}

section#section3 div {
    width: 600px;
    margin: 30px 30px 0 30px;
}

section#section3 div:last-child {
    margin: 0 30px;
}

section#section3 i {
    padding-right: 10px;
}

section#section3 h3 {
    margin: 20px auto;
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

section#section3 p {
    font-size: 14px;
}

section#section3 div:first-child p:nth-child(6) {
    margin: 20px 0;
    width: 400px;
    font-size: 14px;
}

section#section3 div:first-child button {
    padding: 10px 30px;
    background-color: #1C5F81;
    color: white;
    border: none;
    text-transform: uppercase;
    font-size: 11px;
}

section#section3 div img {
    width: 40px;
    vertical-align: middle;
}

section#section3 div:nth-child(2) p:nth-child(4) {
    margin-bottom: 30px;

}

section#section3 div:nth-child(3) {
    border-top: 2px solid rgb(236, 236, 236);
}

/* Section 4 */
section#section4 {
    margin: 100px auto;
    width: 800px;
}

section#section4 h4 {
    text-align: center;
    font-size: 40px;
    margin: 40px auto;
    text-transform: uppercase;
}

section#section4 .tv {
    display: flex;
    justify-content: space-around;
}

section#section4>div>div {
    width: 70px;
}

section#section4 div img {
    width: 100%;
}

/* Footer */

footer {
    background-color: black;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 450px;
}

footer div:first-child {
    padding-top: 50px;
}

footer nav ul li a {
    color: white;
    text-decoration: none;
    cursor: grab;
}


@media(max-width: 1670px) {
    section#section3 {
        text-align: center;
    }

    header {
        height: 100%;
    }

    section#section3 div:last-child {
        margin-top: 40px;
    }

    section#section3 div:first-child p:nth-child(6) {
        margin: auto;
    }
}

@media(max-width:1070px) {
    header nav ul {
        width: 100%;
        margin: auto;
    }

    header nav ul li a {
        font-size: 11px;
    }
}

@media(max-width: 900px) {
    header {
        height: 400px;
    }

    header div.jurrasic_world {
        align-items: center;
        height: 100%;
    }

    header div.jurrasic_world>div {
        width: 300px;
        height: 300px;
    }

    header div.jurrasic_world img {
        height: 100%;
    }

}

@media(max-width:960px) {
    header nav:hover {
        height: 150px;
    }

    header nav ul>li:not(.deroulant) {
        display: none;
    }

    header nav ul>li.deroulant:hover,
    header nav ul>li.deroulant:hover>ul,
    header nav ul>li.deroulant:hover>ul>li {
        display: block;
        padding: 0;
        background-color: transparent;
    }

    header nav ul>li.deroulant:hover>ul,
    header nav ul>li.deroulant:hover>ul>li {
        height: 100%;
    }

    header nav ul>li.deroulant:hover {
        padding-top: 50px;
    }

    header nav ul>li.deroulant:hover:first-child{
        margin-top: 50px;
    }

    header nav ul>li.deroulant:hover>a {
        color: white;
        padding: 0;
    }

    header nav ul>li.deroulant:hover>ul>li>a {
        font-size: 13px;
        padding: 0;
        color: white;
    }

    footer {
        display: block;
    }

    footer div {
        text-align: center;
    }


    footer div:last-child{
        width: 200px;
        margin: 60px auto 0 auto;
    }
    footer div:last-child>img{
        width: 100%;
    }
}

@media(max-width: 640px) {
    main>section {
        width: 100%;
    }

    main>section#section1>p {
        width: 500px;
        margin: 20px auto;
    }

    main>section#section4 {
        width: 100%;
    }

    header nav ul li:hover a {
        color: #1C5F81;
        padding: 15px 20px;
        transition: 0.5s;
    }

    header nav ul li:hover {
        background: white;
        padding: 15px 20px;
        transition: 0.5s;
        border-top: 2px solid green;
    }
}