html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin        : 0;
    padding       : 0;
    border        : 0;
    vertical-align: baseline;
}

* {
    box-sizing: border-box;

}

.gras {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.container {
    position: relative;
}

/* ********************************* HEADER ***************** */
header {
    height             : 700px;
    background-image   : url("../img/dinosaure.jpg");
    background-position: center;
    background-repeat  : no-repeat;
    background-size    : cover;
    position           : relative;
    margin-bottom      : 60px;
}


/* NAV */

nav {
    background-color: rgba(0, 0, 0, 0.433);
    position        : fixed;
    width           : 100%;
    z-index         : 1;
}

nav ul {
    display        : flex;
    color          : white;
    justify-content: center;
    align-items    : center;
    height         : 50px;
    list-style-type: none;
}

nav ul li {
    padding: 0 35px;
}

nav ul li span {
    color: darkgray;
}

nav ul .blue_back {
    background-color: #1C5F81;
    padding         : 4px 20px;
}

nav ul li a {
    text-decoration: none;
    color          : white;
    font-family    : sans-serif;
}

nav ul li:hover {
    background: #1C5F81;
    padding   : 10px;
}

nav ul li .active {
    padding: 0 5px;
}

/* HEADER DIV IMG */

header .jurrasic_world {
    width : 500px;
    height: 600px;
    margin: auto;
    padding-top: 100px;
}

.jurrasic_world img {
    width : 100%;
    height: 100%;
}

header .climatiseur {
    position: absolute;
    bottom  : 0;
    right   : 0;
    width   : 300px;
}

header .climatiseur img {
    width         : 100%;
    vertical-align: bottom;
}

/* Section */

section {
    width : 600px;
    margin: auto;
}

section#section1 .section-img img {
    width: 100%;
}

section#section1 h3 {
    text-align    : center;
    font-size     : 40px;
    margin        : 30px 0;
    color         : #292929;
    font-family   : sans-serif;
    text-transform: uppercase;
}

section#section1 p {
    text-align : justify;
    margin     : 20px 0;
    font-family: sans-serif;
    font-size  : 13px;
}

/* Section 2 */

#section2 {
    text-align : center;
    font-family: sans-serif;
    font-weight: bold;
}

#section2 div {
    margin: 40px 0;
}

#section2 div p:nth-child(4) {
    margin: 0 0 20px 0;
}

#section2 div p span:nth-child(1) {
    font-size: 17px;
}

#section2 button {
    padding         : 10px 30px;
    margin          : 20px 0;
    background-color: #1C5F81;
    color           : white;
    border          : none;
    text-transform  : uppercase;
    font-size       : 11px;
}